.productList {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    padding: 0 15px;
    &-line {
        width: 100%;
        height: 2px;
        background: #C5C6C6;
    }
}

@media(max-width: 960px) {
    .productList {
        padding: 0;
    }
}

