.footer {
    height: 127px;
    background-position: center !important;
    p {
        text-align: center;
        margin: 0;
        text-transform: uppercase;
        line-height: 28px;
        font-size: 40px;
        color: #2B2A29;
        padding-top: 5px;
    }
}